<div class="row">
  <div class="span6 offset3">
    <h1> Reset Password </h1>
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <div class="field">
        <%= f.label :password, 'New Password' %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'New Password Confirmation'%>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="actions"><%= f.submit "Reset Password", :class => "btn" %></div>
    <% end %>
  </div>
</div>
