<div class="new-comment">
  <% if current_user.nil? or current_user.image_url.blank? %>
    <%= image_tag "http://placehold.it/50x50" %>
  <% else %>
    <% filename = current_user.image.file.filename %>      
    <% if FileTest.exists?(current_user.image.file.path\
                     .gsub(filename,'small_thumb_'+filename)) %>
      <%= image_tag (current_user.image_url(:small_thumb).to_s+
                "?#{File.mtime(current_user.image.file.path).to_i.to_s}") %>
    <% else %>
      <%= image_tag (current_user.image_url(:thumb).to_s) %>
    <% end %>
  <% end %>
  <%= form_for [post,post.comments.build], remote: true do |f| %>
    <%= f.text_area :body, rows: 2 %>
    <p>
      <%= f.submit "Comment",class: "btn" %>
    </p>
  <% end %>
</div>
