<%= form_for(@book, html: {multipart: true}) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class:"span6" %>
  </div>
  <%= f.fields_for :book_posts do |builder| %>
    <div class="field date" >
      <%= builder.label :date_read %>
      <% years = (1980..(Time.now.year)).map{|y| [y.to_s,y]}\
                                        .insert(0,['Select Year',nil]) %>
      <%= builder.select :year, years %>
      <% months = (1..12).map{|m| [Date::MONTHNAMES[m],m]}\
                         .insert(0,['Select Month',nil]) %>
      <%= builder.select :month, months %>
      <% days = (1..31).map{|d| [d.to_s,d]}.insert(0,['Select Day',nil]) %>
      <%= builder.select :day, days %>
    </div>
    <div class="field">
      <%= builder.label :review %>
      <%= builder.text_area :review, rows:10, class:"span6" %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url, "or image URL:" %>
    <%= f.text_field :remote_image_url %>
  </div>
  <div class="actions">
    <% if params[:action] == "new" %>
      <%= f.submit "Add Book",:class => "btn" %>
    <% else %>
      <%= f.submit "Edit Book",:class => "btn" %>
    <% end %>
  </div>
<% end %>
