<ul class="thumbnails">
  <li>
    <% if current_user.image_url.blank?%>
      <%= link_to image_tag("http://placehold.it/130x130"),\
          edit_user_path(@user.id), :class => "thumbnail" %>
    <% else %>
      <%= link_to image_tag(@user.image_url(:thumb).to_s),\
          edit_user_path(@user.id), :class => "thumbnail" %>
    <% end %>
  </li>
</ul>
<h4> User email: </h4>
<p>
  <%= current_user.email %>
</p>
<% if current_user.info? %>
  <h4> Info: </h4>
  <p>
    <%= current_user.info %>
  </p>
<% end %>
<% if is_park %>
  <%= link_to "discharge from military", park_notice_path, :class => "btn" %>
<% end %>

