<ul class="thumbnails">
  <li class="profile-pic">
    <% if @user.image_url.blank?%>
      <% if @user == current_user %>
        <%= link_to image_tag("http://placehold.it/130x130"),\
            edit_user_path(@user.id), :class => "thumbnail" %>
      <% else %>
        <%= image_tag "http://placehold.it/130x130", class: "thumbnail" %>
      <% end %>
    <% else %>
      <% if @user == current_user %>
        <%= link_to image_tag(@user.image_url(:thumb).to_s),\
            edit_user_path(@user.id), :class => "thumbnail" %>
      <% else %>
        <%= image_tag @user.image_url(:thumb).to_s, class: "thumbnail" %>
      <% end %>
    <% end %>
  </li>
</ul>
<h4> User email: </h4>
<p>
  <%= @user.email %>
</p>
<% if !user_name(@user).blank? %>
  <h4> Name: </h4>
  <p>
    <%= user_name(@user) %>
  </p>
<% elsif @user.username? %>
  <h4> Username: </h4>
  <p>
    <%= @user.username %>
  </p>
<% end %>
<% if @user.info? %>
  <h4> Info: </h4>
  <p>
    <%= @user.info %>
  </p>
<% end %>
