<div class="row">
  <div class="span6">
    <p>
      <b>Title:</b>
      <%= @book.title %>
    </p>

    <p>
      <b>User:</b>
      <%= @book_post.user_id %>
    </p>

    <p>
      <%= image_tag @book.image_url.to_s %>
    </p>

    <p>
      <b>Review:</b>
      <%= @book_post.review %>
    </p>


    <%= link_to 'Edit', edit_book_post_path(@book_post), :class => "btn"%>
    <%= link_to 'Back', book_posts_path, :class => "btn" %>
  </div>
  <div class="span3">
    <%= render 'user' %>
  </div>
</div>
