<%= javascript_include_tag "mercury_override" %>
<div class="row">
  <div class="search-results span6 offset2"></div>
  <div class="book-post-container span6 offset2">
    <h1><%= @book_post.title %></h1>
    <% if @book_post.image_url.present? %>
      <%= image_tag @book_post.image_url(:default).to_s %>        
    <% end %>
    <% if @book_post.year != 0 %>
      <h4> Date Read </h4>
      <%= format_date(@book_post.year,@book_post.month,@book_post.day) %>
    <% end %>
    <p>
      <div id="book_post_review" class="mercury-region" data-type="editable">
        <%= raw @book_post.review %>
      </div>
    </p>
    <%= render "comments/comment_list", post: @book_post %>
    <% if current_user.present? %>
      <%= render "comments/new_comment", post: @book_post %>
    <% end %>
    <% if current_user == @user %>
      <%= link_to 'Edit Post', edit_book_post_path(@book_post), :class => "btn", id: "ck_edit_link" %>
      <%= link_to 'Mercury Editor', "/editor"+request.path, class: "btn", id: "mercury_edit_link", data: {save_url: mercury_update_book_post_path(@book_post)} %>
      <%= link_to 'Delete', book_post_path(@book_post), 
          :confirm => "Are you sure you want to delete '#{@book.title}'?",
          :method => :delete, :class => "btn", id: "delete_link"%>
    <% end %>
  </div>
  <div class="span3 offset1">
    <%= render 'users/user' %>
  </div>
</div>

