<div class="row">
  <div class="span6">
    <div class="book-post">
      <h1><%= @book.title %></h1>
      <%= image_tag @book.image_url(:default).to_s %>

      <% if @book_post.year != 0 %>
        <h4> Date Read </h4>
        <% if @book_post.day != 0 and @book_post.month != 0%>
           <%= "%s %d, %d" % [Date::MONTHNAMES[@book_post.month],
                                 @book_post.day,@book_post.year] %>
        <% elsif @book_post.month != 0 %>
          <%= "%s, %d" % [Date::MONTHNAMES[@book_post.month],@book_post.year] %>
        <% else %>
          <%= @book_post.year.to_s %>
        <% end %>
      <% end %>
      <p>
        <%= simple_format(@book_post.review) %>
      </p>

      <% if current_user == @user %>
        <%= link_to 'Edit', edit_book_post_path(@book_post), :class => "btn"%>
        <%= link_to 'Delete', book_post_path(@book_post), 
            :confirm => "Are you sure you want to delete '#{@book.title}'?",
            :method => :delete, :class => "btn"%>
      <% end %>
    </div>
  </div>
  <div class="span3">
    <%= render 'user' %>
  </div>
</div>
