<%= javascript_include_tag "mercury_override" %>
<div class="row">
  <div class="span6">
    <div class="book-post">
      <h1><%= @book.title %></h1>
      <% unless @book.image_url.blank? %>
        <%= image_tag @book.image_url(:default).to_s %>        
      <% end %>

      <% if @book_post.year != 0 %>
        <h4> Date Read </h4>
        <% if @book_post.day != 0 and @book_post.month != 0%>
           <%= "%s %d, %d" % [Date::MONTHNAMES[@book_post.month],
                                 @book_post.day,@book_post.year] %>
        <% elsif @book_post.month != 0 %>
          <%= "%s, %d" % [Date::MONTHNAMES[@book_post.month],@book_post.year] %>
        <% else %>
          <%= @book_post.year.to_s %>
        <% end %>
      <% end %>
      <p>
        <div id="book_post_review" class="mercury-region" data-type="editable">
          <%= raw @book_post.review %>
        </div>
      </p>
      <ul class="comment-list">
        <% @book_post.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment%>
        <% end %>
      </ul>
      <div class="new-comment">
        <% if current_user.image_url.blank? %>
          <%= image_tag "http://placehold.it/50x50" %>
        <% else %>
          <% filename = current_user.image.file.filename %>      
          <% if FileTest.exists?(current_user.image.file.path.gsub(filename,'small_thumb_'+filename)) %>
            <%= image_tag (current_user.image_url(:small_thumb).to_s+
                      "?#{File.mtime(current_user.image.file.path).to_i.to_s}") %>
          <% else %>
            <%= image_tag (current_user.image_url(:thumb).to_s) %>
          <% end %>
        <% end %>
        <%= form_for [@book_post,@book_post.comments.build], remote: true do |f| %>
          <%= f.text_area :body, rows: 1 %>
          <p>
            <%= f.submit "Comment",class: "btn"%>
          </p>
        <% end %>
      </div>
      <% if current_user == @user %>
        <%= link_to 'Edit Post', edit_book_post_path(@book_post), :class => "btn", id: "ck_edit_link" %>
        <%= link_to 'Mercury Editor', "/editor"+request.path, class: "btn", id: "mercury_edit_link", data: {save_url: mercury_update_book_post_path(@book_post)} %>
        <%= link_to 'Delete', book_post_path(@book_post), 
            :confirm => "Are you sure you want to delete '#{@book.title}'?",
            :method => :delete, :class => "btn", id: "delete_link"%>
      <% end %>
    </div>
  </div>
  <div class="span3">
    <%= render 'user' %>
  </div>
</div>

