<%= form_for(@user, html: {multipart: true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Error:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user.new_record? %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, class:"span3" %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class:"span3"%>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class:"span3"%>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :remote_image_url, "or image URL:" %><br />
      <%= f.text_field :remote_image_url %>
    </div>
    <div class="field">
      <%= f.label :info %><br />
      <%= f.text_area :info, rows:10, class:"span6" %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Update", :class => "btn" %>
    <%= link_to "Back", book_posts_path, :class => "btn" %>
  </div>
<% end %>
