<%= form_for(@user, html: {multipart: true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :profile_pic %><br />
    <%= f.file_field :profile_pic %>
  </div>
  <div class="field">
    <%= f.label :remote_profile_pic_url, "or image URL:" %><br />
    <%= f.text_field :remote_profile_pic_url %>
  </div>
  <div class="actions">
    <%= f.submit 'Update', :class => "btn" %>
    <%= link_to 'Back', :back, :class => "btn"%>
  </div>
<% end %>
