<%= form_for(@user, html: {multipart: true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Error:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user.new_record? %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, class:"span3" %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, class:"span3"%>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class:"span3"%>
    </div>
  <% else %>
    <% unless current_user.image_url.blank? %>
      <ul class="thumbnails">
        <li class="thumbnail">
          <%= image_tag(@user.image_url(:thumb).to_s) %>
        </li>
      </ul>
    <% end %>
    <div class="name-fields">
      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "span2" %>
      </div>
      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "span2" %>
      </div>
    </div>
    <div class="image-fields">
      <div class="image field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>
      <div class="remote-image field">
        <%= f.label :remote_image_url, "or image URL:" %>
        <%= f.text_field :remote_image_url %>
      </div>
    </div>
    <div class="field">
      <%= f.label :info %>
      <%= f.text_area :info, rows:10, class:"span6" %>
    </div>
    <div class="field">
      <%= f.label :username, "User Name" %>
      <%= f.text_field :username %></br>
      Your bookshelf's URL will be created with your username as the following: </br>
      soobooki.com/bookshelf/#username</br>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn" %>
    <%= link_to "Back", book_posts_path, :class => "btn" %>
  </div>
<% end %>
