<%= form_for(@user, html: {multipart: true}) do |f| %>
  <div class="profile-pic">
    <% unless @user.image_url.blank? %>
      <% filename = @user.image.file.filename %>
      <% if FileTest.exists?(@user.image.file.path.gsub(filename,'medium_'+filename)) %>
        <%= image_tag(@user.image_url(:medium).to_s+
                  "?#{File.mtime(@user.image.file.path).to_i.to_s}") %>
      <% else %>
        <%= image_tag(@user.image_url(:thumb).to_s) %>
      <% end %>
    <% else %>
      <%= image_tag("http://placehold.it/250x250") %>
    <% end %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "span2" %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "span2" %>
    </div>
    <div class="field">
      <%= f.label :bookshelf_name, "Bookshelf ID" %>
      <%= f.text_field :bookshelf_name %></br>
      Your bookshelf's URL will be: soobooki.com/bookshelf/#bookshelf_id</br>
    </div>
  </div>
  <div class="profile-pic-actions">
    <% unless @user.image_url.blank? %>
      <%= link_to "Crop Again", user_image_crop_path(@user), class: "btn" %>
    <% end %>
    <% fb_auth = @user.authentications.find_by_provider("Facebook") %>
    <% if fb_auth %>
      <%= link_to "Choose picture from Facebook", fb_profile_pictures_path(@user), class: "btn" %>
    <% end %>
  </div>
  <div class="image-fields">
    <div class="image field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="remote-image field">
      <%= f.label :remote_image_url, "or image URL" %>
      <%= f.text_field :remote_image_url %>
    </div>
  </div>
  <div class="field">
    <%= f.label :info %>
    <%= f.text_area :info, rows:10, class:"span6" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn" %>
  </div>
<% end %>
