<ul class="thumbnails">
  <li class="profile-pic">
    <% if @user.image_url.blank?%>
      <% if @user == current_user %>
        <%= link_to image_tag("http://placehold.it/130x130"),\
            edit_user_path(@user.id), :class => "thumbnail" %>
      <% else %>
        <%= image_tag "http://placehold.it/130x130", class: "thumbnail" %>
      <% end %>
    <% else %>
      <% if @user == current_user %>
        <%= link_to image_tag(@user.image_url(:thumb).to_s+
                          "?#{File.mtime(@user.image.file.path).to_i.to_s}"),
                          edit_user_path(@user.id), :class => "thumbnail" %>
      <% else %>
        <%= image_tag @user.image_url(:thumb).to_s, class: "thumbnail" %>
      <% end %>
    <% end %>
  </li>
</ul>
<% if @user.first_name? %>
  <h4> Name: </h4>
  <p>
    <%= @user.first_name+" "+@user.last_name %>
  </p>
<% else %>
  <h4> User email: </h4>
  <p>
    <%= @user.email %>
  </p>
<% end %>
<% if @user.soobooki_id? %>
  <h4> Soobooki ID: </h4>
  <p>
    <%= @user.soobooki_id %>
  </p>
<% end %>
<% if @user.info? %>
  <h4> Info: </h4>
  <p>
    <%= simple_format @user.info %>
  </p>
<% end %>
<% if @controller == "book_posts" %>
  <%= link_to "See Movieshelf", movieshelf(@user), class: "btn" %>
<% else %>
  <%= link_to "See Bookshelf", bookshelf(@user), class: "btn" %>
<% end %>
<% if @user == current_user and current_user.admin? %>
  <%= link_to "Users Admin Page", users_path, class: "btn" %>
<% end %>
