<div class="row">
  <div class="span8 offset2">
    <h1> User Administration Page </h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Signup Date</th>
          <th>Confirmed</th>
          <th>Providers</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%b %-d, %Y") %></td>
            <td><%= user.email_confirmed %></td>
            <td><%= user.authentications.map{|auth| auth.provider}.join(", ") %></td>
            <td>
              <% if current_user.admin? && !user.admin? %>
                <%= link_to 'Delete', user_path(user),
                    :confirm => "Are you sure you want the delete user '#{user.email}'",
                    :method => :delete, :class => "btn" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
