<div class="row">
  <div class="search-results span7 offset2"></div>
  <div class="my-account-container span7 offset2">
    <h1> My Account Info </h1>
    <div class="account-info">
      <% unless @user.image_url.blank? %>
        <%= image_tag @user.image_url(:thumb).to_s %>
      <% else %>
        <%= image_tag "http://placehold.it/150x150" %>
      <% end %>
      <h3>Email</h3>
      <%= @user.email %>
      <% if @user.first_name? %>
        <p>
          <h3> Name: </h3>
          <%= @user.first_name+" "+@user.last_name %>
        </p>
      <% end %>
      <% if @user.soobooki_id? %>
        <p>
          <h3>Soobooki ID</h3>
          <%= @user.soobooki_id %>
        </p>
      <% end %>
      <% if @user.info? %>
        <p>
          <h3>Info</h3>
          <%= simple_format @user.info %>
        </p>
      <% end %>
    </div>
    <h3>Authentications</h3>
    <table class="table table-striped authentications">
      <tr>
        <th>Provider</th>
        <th>Action</th>
      </tr>
      <% for provider in ["Facebook","Google"] %>
        <tr>
          <td><%= provider %></td>
          <% authentication = @user.authentications.find_by_provider(provider) %>
          <% if authentication %>
            <td><%= link_to "Delete", authentication, :confirm => 
                      "Are you sure you want to delete authentication from #{provider}?",
                    :method => :delete, :class => "btn" %></td>
          <% else %>
            <td><%= link_to "Add", "/auth/facebook", :class => "btn" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <%= link_to 'Edit', edit_user_path(@user), :class => "btn"%>
    <%= link_to 'Delete Account', user_path(@user), 
        :confirm => "Are you sure you want to delete your account?",
        :method => :delete, :class => "btn"%>
    <div class="privacy-settings">
      <h1>Privacy Settings</h1>
      <div class="itemshelf-privacy-container">
        <% ["Bookshelf","Movieshelf"].each do |itemshelf| %>
          <div class="btn-group itemshelf-privacy" data-toggle="buttons-radio">
            <h3><%= itemshelf %></h3>
            <% ["Only Me","Friends","Users","Everyone"].each do |privacy_level| %>
              <% if itemshelf == "Bookshelf" %>
                <% itemshelf_privacy = @user.bookshelf_privacy %>
                <% edit_privacy_path = edit_bookshelf_privacy_path(@user, privacy: privacy_level)%>
              <% else %>
                <% itemshelf_privacy = @user.movieshelf_privacy %>
                <% edit_privacy_path = edit_movieshelf_privacy_path(@user, privacy: privacy_level)%>
              <% end %>
              <% if itemshelf_privacy == privacy_level %>
                <%= link_to privacy_level, edit_privacy_path, class: "btn init-select", remote: true %>
              <% else %>
                <%= link_to privacy_level, edit_privacy_path, class: "btn", remote: true %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% ["Book","Movie"].each do |item| %>
        <h3><%= item %> Reviews</h3>
        <table class="table table-striped">
          <tr>
            <th><%= item %> Title</th>
            <th class="privacy">Privacy Level</th>
          </tr>
          <% posts = (item == "Book") ? @book_posts : @movie_posts %>
          <% posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td>
                <div class="btn-group" data-toggle="buttons-radio">
                  <% ["Only Me","Friends","Users","Everyone"].each do |privacy_level| %>
                    <% edit_privacy_path = (item == "Book") ?
                       edit_book_post_privacy_path(post, privacy: privacy_level) :
                       edit_movie_post_privacy_path(post, privacy: privacy_level) %>
                    <% if post.privacy == privacy_level %>
                      <%= link_to privacy_level, edit_privacy_path, 
                          class: "btn init-select", remote: true %>
                    <% else %>
                      <%= link_to privacy_level, edit_privacy_path, class: "btn", remote: true %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
