<div class="row">
  <div class="search-results span7 offset2"></div>
  <div class="movieshelf-container span7 offset2">
    <% if @posts_size == 0 %>
      <div class="usage-info">
        <h2>Usage Guide</h2>
        <h3>1. Search for a movie</h3>
        <%= image_tag "movie-search-bar.png" %> 
        (click the camera icon for movie search)
        <h3>2. Add it to your movieshelf</h3>
        <%= image_tag "movie.png" %>
        <h3>3. Write reviews and share them with others</h3>
        <%= image_tag "movieshelf.png" %>
      </div>
    <% else %>
      <div class="movieshelf">
        <%= render "items/itemshelf"%>
      </div>
      <% unless @next_index >= @posts_size %>
        <%= link_to "See More", movieshelf_path(id: @user.id, next_index: @next_index),
            class: "btn see-more", remote: true %>
      <% end %>
    <% end %>
  </div>
  <div class="span3">
    <%= render 'users/user' %>
  </div>
</div>
