<%= javascript_include_tag "mercury_override" %>
<div class="row">
  <div class="search-results span6 offset2"></div>
  <div class="movie-post-container span6 offset2">
    <% if @movie_post.title.present? %>
      <h1><%= @movie_post.title %></h1>
    <% else %>    
      <h1><%= @movie.title %></h1>
    <% end %>
    <% if @movie_post.image_url.present? %>
      <%= image_tag @movie_post.image_url(:default).to_s %>        
    <% elsif @movie.image_url.present? %>
      <%= image_tag @movie.image_url(:default).to_s %>        
    <% end %>
    <% if @movie_post.year != 0 %>
      <h4> Date Watched </h4>
      <%= format_date(@movie_post.year,@movie_post.month,@movie_post.day) %>
    <% end %>
    <p>
      <div id="movie_post_review" class="mercury-region" data-type="editable">
        <%= raw @movie_post.review %>
      </div>
    </p>
    <%= render "comments/comment_list", post: @movie_post %>
    <% if current_user.present? %>
      <%= render "comments/new_comment", post: @movie_post %>
    <% end %>
    <% if current_user == @user %>
      <%= link_to 'Edit Post', edit_movie_post_path(@movie_post), :class => "btn", id: "ck_edit_link" %>
      <%= link_to 'Mercury Editor', "/editor"+request.path, class: "btn", id: "mercury_edit_link", data: {save_url: mercury_update_movie_post_path(@movie_post)} %>
      <%= link_to 'Delete', movie_post_path(@movie_post), 
          :confirm => "Are you sure you want to delete '#{@movie.title}'?",
          :method => :delete, :class => "btn", id: "delete_link"%>
    <% end %>
  </div>
  <div class="span3 offset1">
    <%= render 'users/user' %>
  </div>
</div>

