<div class="row">
  <div class="search-results span7 offset2">
  </div>
  <div class ="friends-container span8 offset2">
    <h1>Friend Requests</h1>
    <table class="table table-striped">
      <tr><%= render "friendship_th" %></tr>
      <% @requested_friendships.each do |friendship| %>
        <tr>
          <%= render "friendship_td", user: friendship.user %>
          <td>
            <%= link_to 'Confirm', friendship, method: :put, class: "btn" %>
            <%= link_to 'Ignore', friendship,
                  confirm: "Are you sure you want to ignore friend request 
                            from #{friendship.user.email}?",
                  method: :delete, class: "btn"  %>
          </td>
        </tr>
      <% end %>
    </table>

    <h1>My Friends</h1>
    <table class="friends table table-striped">
      <tr><%= render "friendship_th" %></tr>
      <% @direct_friendships.each do |friendship| %>
        <tr>
          <%= render "friendship_td", user: friendship.friend %>
          <td>
            <%= link_to 'Delete Friend', friendship,
                  confirm: "Are you sure you want to delete friendship 
                            with #{friendship.friend.email}?",
                  method: :delete, class: "btn" %>
          </td>
        </tr>
      <% end %>
      <% @inverse_friendships.each do |friendship| %>
        <tr>
          <%= render "friendship_td", user: friendship.user %>
          <td>
            <%= link_to 'Delete', friendship,
                  confirm: "Are you sure you want to delete friendship 
                            with #{friendship.user.email}?",
                  method: :delete, class: "btn"  %>
            <%= link_to 'Bookshelf', 
                bookshelf(friendship.user), class: "btn" %>
          </td>
        </tr>
      <% end %>
    </table>

    <h1>Other Users</h1>
    <table class="table table-striped">
      <tr><%= render "friendship_th" %></tr>
      <% @users.each do |user| %>
        <% unless @friends.include?(user) %>
          <tr>
            <%= render "friendship_td", user: user %>
            <td>
              <% unless @pending_friends.include?(user) || @requested_friends.include?(user)%>
                <%= link_to 'Add Friend', friendships_path(:friend_id => user.id),
                    method: :post,
                    confirm: "Are you sure you want to be friends
                    with #{user.email}?",
                    class: "btn"%>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
