<table class="book-search-table">
  <tbody>
    <% @response['items'].each do |book| %>
      <% book_info = book['volumeInfo'] %>
      <tr>
        <td class="book-image-block"> 
          <% if book_info['imageLinks'] %>
            <%= image_tag book_info['imageLinks']['smallThumbnail'], class: "book-small-image"%>
          <% end %>
        </td>
        <td> 
          <%= book_info['title'] %> </br>
          <% if book_info['authors'] %>
            by <%= book_info['authors'].join(', ') %> </br>
          <% end %>
          <%= book_info['publisher'] %> </br>
          <%= book_info['publishedDate'] %>
        </td>
        <td class="book-action-block">
          <!-- TODO: make the button disappear even after revisit -->
          <%= link_to "Add Book", book_posts_path(google_book_id: book['id']),
              method: :post, class: "btn add_#{book['id']}", remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  

