<tr>
  <td class="image-block"> 
    <% if image_url %>
      <%= image_tag image_url%>
    <% else %>
      <%= image_tag "http://placehold.it/58x80"%>
    <% end %>
  </td>
  <td> 
    <%= sanitize title %> </br>
    <% if authors %>
      by <%= sanitize authors %> </br>
    <% end %>
    <%= sanitize publisher %> </br>
    <%= pub_date %>
  </td>
  <td class="action-block">
    <!-- TODO: make the button disappear even after revisit -->
    <%= link_to "Add Book", book_posts_path(api: @api, api_id: api_id, title: title,
                              authors: authors, cover_image_url: cover_image_url,
                              publisher: publisher, pub_date: pub_date, isbn13: isbn13),
        method: :post, class: "btn add_#{api_id}", remote:true %>
  </td>
</tr>
