<!DOCTYPE html>
<html>
  <head>
    <title>Soobooki</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top" id="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="<%= bookshelf(current_user) %>">Soobooki</a>
          <ul class="nav" id="top-nav">
            <li><%= link_to 'Books', bookshelf(current_user) %></li>
            <li><%= link_to 'Movies', "#" %></li>
            <li><%= link_to 'Friends', friendships_path %></li>
            <% id = current_user ? current_user : 0 %>
            <li><%= link_to 'Notifications', notifications_path(id: id) %></li>
            <li><%= link_to 'My Account', user_path(id: id) %></li>
            <% if current_user %>
              <% if current_user.admin? %>
                <!--<li><%= link_to 'Users Admin', users_path %></li>-->
              <% end %>
              <li><%= link_to 'Log out', log_out_path %></li>
            <% else %>
              <li><%= link_to 'Log in ', log_in_path %></li>
            <% end %>
            <li>
              <%= form_tag search_books_path(api: "daum"), method: "get", remote: true,
                  class: "navbar-search" do %>
                <%= text_field_tag "query", nil, placeholder: "Book Title",
                    class: "input-medium search-query" %>
                <i class="icon-search"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span6 offset2">
          <% flash.each do |name,msg| %>
            <div class="alert">
              <button class="close" data-dismiss="alert">×</button>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
